#root {
  max-width: 1280px; 
  margin: 0 auto;
  text-align: center;
  padding: 0 2rem;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-header {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  margin: 1rem 0;
  /* background-color: #f8f9fa; */
  /* padding: 0.5rem 2rem; */
  /* width: 100vw; */
}

.nav-header a {
  display: inline-flex;
  align-items: center;
   
}

.nav-header ul li {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* .login-button {
  padding: 0.5rem 1rem;
  background-color: green;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
} */

/* .login-button:hover {
  background-color: rgb(1, 99, 1);
  color: white;
} */

.home-links {
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
  padding: 0.5rem 1rem;
  /* padding: 1rem; */
  /* background-color: #f0f0f0; */
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* margin: 1rem 0; */
  transition: transform 0.2s;
  cursor: pointer;
  text-decoration: none;
  /* color: inherit; */
}

.home-links a {
  border-style: double;
  border-width: 0.25rem;
  border-color: lightblue;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 2.2rem;
}

.home-links a:hover {
  /* transform: scale(1.05); */
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #000;
}

/* .home-links a:active {
  transform: scale(0.95);
} */



 